.profile {
    font-family: var(--font);
    margin-top: 33px;
}


.profile .head {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0.5rem;
    margin-top: 0px;
}   

.profile .profilecontent {
    font-size: 9px;
    max-width: 20.625rem;
    max-height:4rem;
}